
.main.paquetes {
  margin-top: 50px; /* Ajusta este valor para separar los rectángulos del header */
  margin-bottom: 50px;}

.container.paquetes {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  grid-template-rows: repeat(2, auto); /* 2 filas, ajusta altura automáticamente */
  gap: 20px; /* Espacio entre los rectángulos */
  width: 80%; /* Ancho del contenedor */
  max-width: 1200px; /* Ancho máximo */
}

.box.paquetes {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000; /* Borde negro */
  border-radius: 12px; /* Bordes redondeados */
  padding: 10px;
  box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
}

.box img {
  border-radius: 8px;
  margin-right: 10px;
  width: 150px; 
  height: auto; }

.box .text {
  flex: 1; /* Ocupa el espacio restante */
} 


/* Mostrar el texto en pantallas de 768px o menos */
@media (max-width: 768px) {
  .responsive-text {
    display: block;
  }
}

.box.paquetes {
  display: flex;
  flex-direction: column;
  align-items:normal;
  justify-content: center;
  width: 100%; /* Ancho para pantallas grandes */
  margin: 0 auto;
  padding: 70px;
  background-color: #f8f8f8; /* Color de fondo */
  border: 2px solid #ccc; /* Borde */
  border-radius: 12px; /* Bordes redondeados */
}

.responsive-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.text-content {
  margin-top: 20px;
  text-align: center;
}