/* Contenedor principal */
.container {
  display: grid;
  grid-template-columns: 4fr 1fr; /* Columna de formulario 80%, imagen 20% */
  width: 90%;
  max-width: 1200px; /* Ancho máximo */
  height: 90vh; /* Altura del contenedor */
  gap: 20px; /* Espacio entre columnas */
  margin: 30px auto; /* Centramos el contenedor y agregamos margen superior */
}

/* Título del formulario */
.title {
  color: #f57c00; /* Naranja */
  font-size: 2rem;
  text-align: left;
  margin-bottom: 10px;
}

/* Formulario */
.form-container {
  background-color: #fff; /* Fondo blanco */
  color: #000; /* Texto negro */
  border: 2px solid #000; /* Borde negro */
  border-radius: 12px; /* Bordes redondeados */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Estilos del formulario */
.form-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-container input,
.form-container select,
.form-container .date-container {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #c6cfd4;
  color: #000;
  margin-bottom: 10px;
}

.form-container .date-container {
  display: flex;
  gap: 20px;
}

.form-container .date-container input {
  flex: 1;
}

.form-container .quantity-container {
  display: flex;
  flex-direction: column;
}

.form-container .quantity-container input {
  margin-top: 5px;
}

.form-container button {
  background-color: #4caf50; /* Verde */
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-end;
}

.form-container button:hover {
  background-color: #45a049;
}

/* Imagen */
.image-container {
  background: url('https://via.placeholder.com/500') no-repeat center center; 
  background-size: cover;
  border-radius: 12px;
  height: 40vh;
}
/* Estilos generales para el formulario */
.form-container {
  background-color: #f8f9fa;
  padding: 20
}

/* Footer */

/* 
 
.footer {
  background-color: #343a40; /* Azul oscuro */
  /* color: #fff;
  padding: 20px; /* Ajusta el espaciado interno */
  /* text-align: center;
  margin-top: 20px; Espacio encima del footer */ */
  */
 */
.footer .container {
  max-width: 1200px; /* Asegura que el contenido del footer esté bien alineado */
  margin: 0 auto;
  height: 5vh;  }
