.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }
  
  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
    height: 200vh;
  }
  

