// estilo de los botones
.btn-orange {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 1.5s ease-in-out, color 1.5s ease-in-out;
  
    // cambio de color de botón comprar
    animation: colorChange 3s infinite;
  }
  
  // cambio de  color en tres pasos
  @keyframes colorChange {
    0% {
      background-color: orange;
      color: white;
    }
    50% {
      background-color: white;
      color: orange;
    }
    100% {
      background-color: orange;
      color: white;
    }
  }
  
  // donde poner el botón en cada recuadro. tengo problema con el botón de vuelos
  .section-item,
  .packages-item {
    position: relative;
    padding-bottom: 50px; // lugar solo para el batón
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .section-item img,
  .packages-item img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  

  // SCSS
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-title {
  animation: slideIn 2s ease-in-out;
}

// botón naranja
.btn-orange {
  background-color: orange;
  color: white;

  &:hover {
    background-color: darkorange;
  }
}

// color para Oferta de Paquetes
h1 {
  color: orange;
}



// altura del contenedor
.p-4 {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mt-auto {
  margin-top: auto;
}
