.form-control, .form-select, .form-textarea {
    border-radius: 5px;
  }
  
  .form-textarea {
    height: 150px;
  }
  
  .form-check-label {
    margin-left: 5px;
  }
  
  // Color naranja
$text-orange: orange;

// Títulos de sección
.section-title {
  color: $text-orange;
}

// Títulos de ítems dentro de "Destacados" y "Paquetes"
.text-orange {
  color: $text-orange;
}

// Botón naranja (si no está definido aún)
.btn-orange {
  background-color: $text-orange;
  color: white;
  border: none;

  &:hover {
    background-color: darkorange;
  }
}


.animate-title {
    animation: slideIn 2s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.btn-orange {
    background-color: orange;
    color: white;
}

.btn-orange:hover {
    background-color: darkorange;
}
